details {
  margin: 1em 0;
  padding: 0.5em 1em;
  /* border: 1px solid #ccc;
  border-radius: 4px; */
  /* background: #f9f9f9; */
}

summary {
  font-weight: bold;
  cursor: pointer;
}

.collapse-content {
  margin-top: 0.5em;
}

aside {
  background: #f5f5f5;
  padding: 1rem;
  border-right: 1px solid #ccc;
}
aside ul {
  list-style: none;
  padding: 0;
}
aside li {
  margin-bottom: 0.5rem;
}
aside a {
  text-decoration: none;
  color: #333;
}

aside nav ul {
  list-style: none;
  padding-left: 0;
}
aside nav li {
  margin-bottom: 0.4rem;
}
aside nav a {
  text-decoration: none;
  color: #333;
}
aside nav a:hover {
  text-decoration: underline;
}
aside nav a.active {
  font-weight: bold;
  color: #0056b3;
}

p img {
width: 250px;
padding: 15px;
border-radius: 50px 50px;
display: block;
margin: 0 auto;
}


